<main>
        <aside>
            <h3>JADWAL</h3>
            <h4>Pendaftaran</h4>
            <p>1 Agustus - 16 Agustus 2022</p>
            <h4>Kegiatan Lomba</h4>
            <p>15 Agustus - 17 Agustus 2022</p>
            <h4>Pembagian Hadiah</h4>
            <p>24 Agustus 2022</p>
        </aside>
        <% @articles.each do |article| %>
        <div class="container">
            <section>
                <h3><%= article.title %></h3>
                <p><%= article.summary %></p>
                <a href="#">BACA SELENGKAPNYA</a>
                
            </section>
        </div>

        <& end &>
</main>